<?php
/** @var \MageSuite\SuccessPageOrderDetails\ViewModel\Checkout\Success\Order $viewModel */
$viewModel = $block->getViewModel();
$paymentMethod = $viewModel->getPaymentMethod();
$billingAddress = $viewModel->getBillingAddress();
$billingTelephoneNumber = $billingAddress ? $billingAddress->getTelephone() : null
?>

<?php if ($billingAddress) : ?>
    <div class="cs-last-order-details__box">
        <span class="cs-last-order-details__box-title"><?= /* @noEscape */ __('Billing Address'); ?></span>
        <div class="cs-last-order-details__box-content">
            <address><?= /* @noEscape */ $billingAddress->getName() ?><br>
                <?php if (!empty($billingAddress->getCompany())) :?>
                    <?= /* @noEscape */ $billingAddress->getCompany() ?><br>
                <?php endif; ?>
                <?= /* @noEscape */ $viewModel->getStreetFull($billingAddress->getStreet()) ?><br>
                <?= /* @noEscape */ $billingAddress->getCity() ?>, <?= /* @noEscape */ $billingAddress->getPostcode() ?><br>
                <?= /* @noEscape */ $viewModel->getCountryByCode($billingAddress->getCountryId()) ?>
                <?php if (!empty($billingTelephoneNumber)) :?>
                <br>
                T: <a href="tel:<?= /* @noEscape */ $billingTelephoneNumber ?>"><?= /* @noEscape */ $billingTelephoneNumber ?></a>
                <?php endif; ?>
            </address>
        </div>
    </div>
<?php endif; ?>

<?php if (!empty($paymentMethod)) : ?>
    <div class="cs-last-order-details__box">
        <span class="cs-last-order-details__box-title"><?= /* @noEscape */ __('Payment Method'); ?></span>
        <div class="cs-last-order-details__box-content">
            <span class="cs-last-order-details__payment-method">
                <?= /* @noEscape */ $paymentMethod ?>
            </span>
        </div>
    </div>
<?php endif; ?>
