<?php
/** @var \MageSuite\SuccessPageOrderDetails\ViewModel\Checkout\Success\Order $viewModel */
$viewModel = $block->getViewModel();
$shippingAddress = $viewModel->getShippingAddress();
$shippingMethod = $viewModel->getShippingMethod();
$customerEmail = $viewModel->getCustomerEmail();
$shippingTelephoneNumber = $shippingAddress ? $shippingAddress->getTelephone() : null;?>

<?php if ($shippingAddress) : ?>
    <div class="cs-last-order-details__box">
        <span class="cs-last-order-details__box-title"><?= /* @noEscape */ __('Shipping Address'); ?></span>
        <div class="cs-last-order-details__box-content">
            <address>
                <span class="cs-last-order-details__firstname"><?= /* @noEscape */ $shippingAddress->getFirstName() ?></span> <span class="cs-last-order-details__lastname"><?= /* @noEscape */ $shippingAddress->getLastName() ?></span><br>
                <?php if (!empty($shippingAddress->getCompany())) :?>
                    <?= /* @noEscape */ $shippingAddress->getCompany() ?><br>
                <?php endif; ?>
                <span class="cs-last-order-details_street"><?= /* @noEscape */ $viewModel->getStreetFull($shippingAddress->getStreet()) ?></span><br>
                <span class="cs-last-order-details__city"><?= /* @noEscape */ $shippingAddress->getCity() ?></span>,<span class="cs-last-order-details__region"><?= /* @noEscape */ $shippingAddress->getRegion() ?></span> <span class="cs-last-order-details__postcode"><?= /* @noEscape */ $shippingAddress->getPostcode() ?></span><br>
                <span class="cs-last-order-details__country"><?= /* @noEscape */ $viewModel->getCountryByCode($shippingAddress->getCountryId()) ?></span><br>
                Email: <span class="cs-last-order-details__email"><?= /* @noEscape */ $customerEmail ?></span>
                <?php if (!empty($shippingTelephoneNumber)) :?>
                <br>
                T: <a href="tel:<?= /* @noEscape */ $shippingTelephoneNumber ?>"><span class="cs-last-order-details__phone"><?= /* @noEscape */ $shippingTelephoneNumber ?></span></a>
                <?php endif; ?>
            </address>
        </div>
    </div>
<?php endif; ?>

<?php if (!empty($shippingMethod)) : ?>
    <div class="cs-last-order-details__box">
        <span class="cs-last-order-details__box-title"><?= /* @noEscape */ __('Shipping Method'); ?></span>
        <div class="cs-last-order-details__box-content"><?= /* @noEscape */ $shippingMethod ?></div>
    </div>
<?php endif; ?>
