@import '../../../../theme-creativeshop/src/components/aftersearch-nav/aftersearch-nav';
@import 'config/colors';

.#{$ns}aftersearch-nav {
    &__filter-title {
        text-transform: none;
    }
    .item a {
        color: $color_mineshaft;
    }
}
