<?php
 /**
 * Template overwritten to:
 * - add stock/out of stock icon
 * - add placeholder at the end ($block->getChildHtml())
 * - add custom message and styles for backordered items allowed and qty below zero - 9-7-23
 */

 /* @var $block \Magento\Catalog\Block\Product\View\AbstractView */
 ?>

<?php 
    $isAvailable = $block->getProduct()->isAvailable();
    $cssClass = $isAvailable ? 'available cs-buybox__stock--available' : 'unavailable cs-buybox__stock--unavailable';
    if ($block->getProduct()->getTypeId() == 'simple') {
        $helperStock = $this->helper(GGM\Catalog\Helper\Stock::class);
        $stockQty = $helperStock->getStockQty($block->getProduct()->getId());
        $stockQty = $stockQty > 1000 ? '1000+' : $stockQty;
        $managedStock = $helperStock->getManagedStockStatus($block->getProduct()->getId());
        $text = $isAvailable ? __('%1 In stock', $stockQty) : __('Out of stock');
        $backorderStatus = $helperStock->getBackorderStatus($block->getProduct()->getId());
        if ($backorderStatus > 0 && $stockQty == 0 && $isAvailable) {
            $cssClass = 'available cs-buybox__stock--available backordered';
            $text = __('Low stock, but place your order and we\'ll get it ASAP', $stockQty);
        }
    }
    else {
        $managedStock = true;
        $text = $isAvailable ? __('In stock') : __('Out of stock');
    }
    $iconEtcViewTarget = $isAvailable ? 'in_stock' : 'out_of_stock';
    $icon = $block->getVar('stock_icons/display', 'Magento_Catalog') 
        ? $this->getLayout()
             ->createBlock('MageSuite\ThemeHelpers\Block\Icon')
             ->setIconUrl($block->getVar('stock_icons/'.$iconEtcViewTarget.'/icon_url', 'Magento_Catalog'))
             ->setCssClass($block->getVar('stock_icons/'.$iconEtcViewTarget.'/css_class', 'Magento_Catalog'))
             ->setAltText($text)
             ->setInlined($block->getVar('stock_icons/'.$iconEtcViewTarget.'/inlined', 'Magento_Catalog'))
             ->setLazyLoaded($block->getVar('stock_icons/'.$iconEtcViewTarget.'/lazy_loaded', 'Magento_Catalog'))
             ->toHtml()
        : '';
?>

<?php if ($block->displayProductStockStatus() && $managedStock): ?>
    <div class="stock cs-buybox__stock <?= $cssClass ?>" title="<?= $block->escapeHtmlAttr(__('Availability')) ?>">
        <?= $icon ?>
        <span class="cs-buybox__stock-text"><?= $text ?></span>
    </div>
<?php endif; ?>
<?= $block->getChildHtml() ?>
