@import '../../../../theme-creativeshop/src/components/autocomplete/autocomplete';

.#{$ns}autocomplete {
    $root: &;

    &__item-name {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 16px; /* fallback */
        max-height: 32px; /* fallback */
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
        span {
            font-weight: bold;
        }
    }

    &__item-brand {
        font-size: 1rem;
    }
    .autocomplete-list {
        dd,
        .cs-autocomplete__item {
            padding: 0.7rem 1rem;
        }
        span.product-attribute-label {
            display: none;
        }
    }
}
