@import '../../../../theme-creativeshop/src/components/indicators/expected-delivery';
@import 'config/colors';

.#{$ns}indicator-exp-delivery {
    $root: &;
    background-color: 1px solid $color_blaze_orange;
    background-color: $color_blaze_orange;
    border-radius: 5px;
    padding: 10px;

    &__element-icon {
        display: none;
    }
    &__text {
        color: white;
        font-size: 1.35rem;
        &--helper {
            font-weight: 700;
            color: $color_snow;
        }
    }
}
