<?php
/**
 * Custom template
 */
$collection = $block->getItems();

if (!empty($collection)): ?>
    <?php foreach ($collection as $item): ?>
        <?php if (!empty($item) && isset($item['url']) && !empty($item['url'])): ?>
            <div class="cs-container cs-container--button">
                <div class="cs-container__inner">
                    <a href="<?= $item['url']?>" class="cs-button-component">
                        <span class="cs-button-component__span">
                            <?= $item['label'] ?>
                        </span>
                        <?= $this->getLayout()
                            ->createBlock('MageSuite\ThemeHelpers\Block\Icon')
                            ->setIconUrl($block->getVar('button/icon_path'))
                            ->setCssClass('cs-button-component__icon')
                            ->setAltText(__('Button icon'))
                            ->setInlined(false)
                            ->toHtml();
                        ?>
                    </a>
                </div>
            </div>
        <?php else: ?>
            <div class="cs-container cs-container--button">
                <div class="cs-container__inner">
                    <div class="cs-button-component">
                        <span class="cs-button-component__span" onclick="<?= $item['onclick'] ?>">
                            <?= $item['label'] ?>
                        </span>
                        <?= $this->getLayout()
                            ->createBlock('MageSuite\ThemeHelpers\Block\Icon')
                            ->setIconUrl($block->getVar('button/icon_path'))
                            ->setCssClass('cs-button-component__icon')
                            ->setAltText(__('Button icon'))
                            ->setInlined(false)
                            ->toHtml();
                        ?>
                    </div>
                </div>
            </div>
        <?php endif; ?>
    <?php endforeach ?>
<?php endif; ?>

