<?php
/**
 * Custom template
 */
$collection = $block->getItems();

if (!empty($collection)): ?>
        <?php foreach ($collection as $item):
            if (!empty($item) && isset($item['url']) && !empty($item['url'])): ?>
                <li class="cs-header-user-nav__item <?= isset($item['additional_css_classes']) ? $item['additional_css_classes'] : '' ?>">
                    <div class="cs-header-user-nav__item <?= isset($item['additional_css_classes']) ? $item['additional_css_classes'] : '' ?>">
                        <a href="<?= $item['url'] ?>" class="<?=$item['css_parent']?>__link" rel="nofollow noopener" target="_blank">
                            <div class="cs-header-user-nav__icon-wrapper">
                                <?php if(isset($item['icon']) && !empty($item['icon'])): ?>
                                    <?= $this->getLayout()
                                        ->createBlock('MageSuite\ThemeHelpers\Block\Icon')
                                        ->setIconUrl($item['icon'])
                                        ->setCssClass($item['css_parent'].'__icon')
                                        ->setAltText(isset($item['icon_alt_text']) ? $item['icon_alt_text'] : '')
                                        ->setInlined(true)
                                        ->setLazyLoaded(false)
                                        ->toHtml();
                                    ?>
                                <?php endif ?>

                                <?php if(isset($item['label']) && !empty($item['label'])): ?>
                                    <span style="display:block" class="<?=$item['css_parent'].'__label'?><?= $item['hide_label'] ? ' cs-visually-hidden' : '' ?>"><?= $item['label'] ?></span>
                                <?php endif; ?>
                            </div>
                        </a>
                    </div>
                </li>
            <?php endif; ?>
        <?php endforeach ?>
<?php endif; ?>