@import 'utils/get-value-from-list';
@import 'config/colors';
@import 'config/variables';
@import 'vendors/include-media';

/* stylelint-disable block-no-empty */
@mixin badge_hook($type) {
    transform: none;
    border-radius: 5px;
    &:before {
        transform: none;
        width: 0;
    }
}

@mixin badge_type-hook($type) {
    transform: none;
    @if ($type == 'dailydeal') {
        font-size: 1.3rem;
        background-color: $color_yellow;
        color: $color_black;
        min-height: 2em;
    }
    @if ($type == 'discount') {
        min-width: 3.5rem;
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        background-color: $color_crimson;
        padding: 0;
    }
    @if ($type == 'popular') {
        background-color: $color_primary-500;
    }
    @if ($type == 'new') {
        background-color: $color_dodger-blue;
        border-radius: 50%;
        max-width: 3rem;
        height: 3rem;
        margin: 0.5rem 0.2rem 0 0;
    }
}

@mixin badge_span-hook($type) {
    transform: none;
    @if ($type == 'discount') {
        font-size: 1.2rem;
        margin: 0 -0.3rem;
    }
}
/* stylelint-enable */
