@import 'config/variables';
@import 'components/badge/hook';

$badge_height: 2.1rem;
$badge_padding: 0.3rem 1rem;
$badge_border-radius: 0;

$badge--new-background: $color_background-700;
$badge--new-color: $color_white;

$badge--sale-background: $color_primary-500;
$badge--discount-background: transparent;

$badge--free-shipping-background: $color_background-700;
$badge--popular-background: $color_background-700;

@import '../../../../theme-creativeshop/src/components/badge/mixin';
