@import '../../../../theme-creativeshop/src/components/offcanvas-navigation/offcanvas-navigation.scss';
@import 'config/colors';
@import 'config/variables';

$offcanvas-navigation_link-color: $color_text-800 !default;
//offcanvas-navigation
$offcanvas-navigation_link-color--hover: $color_green-pea;

.#{$ns}offcanvas-navigation {
    $root: &;

    &__link {
        &,
        &:visited {
            color: $offcanvas-navigation_link-color;
            &:hover {
                color: $offcanvas-navigation_link-color--hover;
            }
        }

        &:hover {
            color: $offcanvas-navigation_link-color--hover;

            @if not($offcanvas-navigation_icon-use-pseudoicon-instead-svg) {
                #{$root}__icon {
                    path {
                        fill: $offcanvas-navigation_icon-color--hover;
                    }
                }
            }
        }
    }
}
