<?php
/** @var \MageSuite\DailyDeal\Helper\OfferData $dailyDealHelper */
/** @var $block \MageSuite\DailyDeal\Block\Product */
$product = $block->getProduct();
$dailyDealHelper = $this->helper('MageSuite\DailyDeal\Helper\OfferData');
$dailyDealCounterPlace = $block->getCounterPlace() ? $block->getCounterPlace() : 'pdp';
?>
<?php
if ($dailyDealHelper->isOfferEnabled($product)):
    $dailyDealData = $dailyDealHelper->prepareOfferData($product);
    if ($product->getIsSalable() && $dailyDealHelper->isDailyDealCounterApplicable($dailyDealData, $dailyDealCounterPlace)):
        $headerLabel = $block->getItemsLeftLabel();
        ?>
        <div
            class="cs-dailydeal <?= $block->getAdditionalCssClasses() ?> <?php if ($dailyDealData['items'] and $block->getShowHeader()): echo $block->getModifierForQtyLimitation(); endif; ?>"
            data-phrase-day="<?= __('Day') ?>"
            data-phrase-days="<?= __('Days') ?>"
            data-phrase-hour="<?= __('Hour') ?>"
            data-phrase-hours="<?= __('Hours') ?>"
            data-phrase-minute="<?= __('Min') ?>"
            data-phrase-minutes="<?= __('Min') ?>"
            data-phrase-second="<?= __('Sec') ?>"
            data-phrase-seconds="<?= __('Sec') ?>"
        >
            <?= $block->getChildHtml('hotspot.before.header') ?>
            <?php if ($block->getShowHeader()): ?>
                <?php
                $headerTitle = $block->getHeaderTitle();
                ?>
                <div class="cs-dailydeal__header">
                    <?php if (isset($headerTitle) and !empty($headerTitle)): ?>
                        <p class="cs-dailydeal__title"><?= $headerTitle ?></p>
                    <?php endif; ?>
                    <?php if (!empty($dailyDealData['items'])): ?>           
                        <div class="cs-dailydeal__availability">
                            <?= $block->getAvailabilityTextBefore() ?>
                            <span class="cs-dailydeal__items-amount" data-dailydeal-items="<?= $dailyDealData['items'] ?>" data-dailydeal-initialAmount="<?= $dailyDealData['initialAmount'] ?>">
                            <?= $dailyDealData['items'] ?>
                        </span>
                            <?= $block->getAvailabilityTextAfter() ?>
                        </div>
                    <?php endif; ?>
                </div>
            <?php endif; ?>
            <?= $block->getChildHtml('hotspot.before.countdown') ?>
            <div class="cs-dailydeal__countdown" data-dailydeal-end="<?= $dailyDealData['to'] ?>"></div>
            <?= $block->getChildHtml('hotspot.after.countdown') ?>
            <!-- Added Small Progress Bar for product Tile only -->
            <?php if (!empty($dailyDealData['initialAmount'])): ?>           
                <div class="cs-dailydeal__progressBar">
                    <?php $qty_percent=(((int)$dailyDealData['items'] / (int)$dailyDealData['initialAmount'])) * 100; ?>
                    <div class="miniBar">
                        <div class="miniBarProgress" style="width: <?php echo ($qty_percent > '100' ? '100' : $qty_percent);?>%;"></div>
                        </div>
                    <span><?= $dailyDealData['items'] ?>/<?= $dailyDealData['initialAmount'] ?></span>
                </div>
            <!-- End Progress bar for Tile -->
            <?php endif; ?>

        </div>
    <?php endif; ?>
<?php endif; ?>
