<?php
/** @var \MageSuite\DailyDeal\Helper\OfferData $dailyDealHelper */
/** @var $block \MageSuite\DailyDeal\Block\Product */
$product = $block->getProduct();
$dailyDealHelper = $this->helper('MageSuite\DailyDeal\Helper\OfferData');
?>
<?php
if ($dailyDealHelper->isOfferEnabled($product)):
    $dailyDealData = $dailyDealHelper->prepareOfferData($product);
    if ($product->getIsSalable()):
        ?>
        <!-- Added progress bar -->
        <?php if (!empty($dailyDealData['initialAmount'])): ?>
            <div class="cs-daily-deal-teaser__progress-bar">
                <div class="cs-cart-bonus__progress-wrapper cs-daily-deal-teaser__progress-bar-content">
                    <?php
                    $percentage=(((int)$dailyDealData['items'] / (int)$dailyDealData['initialAmount']) * 100) / 100;
                    $transforming=(1 - $percentage) / 2 / $percentage * 100
                    ?>
                    <div class="cs-daily-deal-teaser__progress-bg">
                        <div class="cs-daily-deal-teaser__progress-possible">
                            <div class="cs-cart-bonus__progress-done cs-daily-deal-teaser__progress" style="transform: scaleX(<?=$percentage?>) translateX(<?=-$transforming?>%)"></div>
                        </div>
                    </div>
                </div>
                <span class="cs-daily-deal-teaser__available">
                    <?=$dailyDealData['items']?> / <?=$dailyDealData['initialAmount']?>
                </span>
            <div>
        <?php endif; ?>
        <!-- End Added progress bar -->
    <?php endif; ?>
<?php endif; ?>
