@import '../../../../theme-creativeshop/src/components/topbar/topbar';
@import 'config/colors';
@import '../../../../theme-creativeshop/src/config/colors';

.#{$ns}topbar {
    $root: &;

    &__notification-bar {
        background-color: $color_bamboo;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1em;
        text-align: center;
        padding: 0.2em;
        p {
            margin-bottom: auto;
            a {
                color: $color_white;
                &:hover {
                    text-decoration: underline;
                    color: $color_white;
                }
            }
        }
    }
}
