@import '../../../../theme-creativeshop/src/components/brand-carousel/brand-carousel';

.#{$ns}brand-carousel {
    $root: &;

    &__figure {
        filter: grayscale(1);
        &:hover {
            filter: grayscale(0);
        }
    }
}
