@import '~Creativeshop/components/image-teaser/image-teaser';
@import 'config/colors';

.#{$ns}image-teaser {
    $root: &;
    --slogan-font-size: 3.5rem;
    --description-font-size: 1.7rem;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &--hero-teaser {
        .cs-image-teaser__slide--next,
        .cs-image-teaser__slide--prev {
            opacity: 0.3;
        }
    }

    &__pagination-item {
        transform: none;
        @include media('>=laptop') {
            width: 5rem;
            height: 0.5rem;
        }
        @include media('<laptop') {
            width: 5rem;
            height: 0.5rem;
        }
        &--active {
            background-color: darken($color_gallery, 25%);
            &:hover {
                background-color: darken($color_gallery, 25%);
            }
        }
    }
    &__content {
        em {
            font-weight: 700;
            font-style: normal;
            &.purple {
                color: $color_purple-dk;
            }
            &.green {
                color: $color_primary-500;
            }
        }
        ul {
            list-style-type: disc;
            font-size: var(--slogan-font-size);
        }
        ol {
            font-size: 2.5rem;
        }
    }

    &__text-content {
        .review-container {
            background: #f7f7f7;
            height: 11em;
            width: 13em;
            padding: 1em;
            font-weight: 100;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .name {
                font-size: 0.6em;
                font-weight: 500;
            }
            .date {
                font-size: 0.5em;
                padding: 0.7em 0;
            }
            .stars {
                align-items: center;
                color: gold;
                display: flex;
                justify-content: center;
            }
            .review {
                font-size: 0.6em;
                padding-top: 0.7em;
            }
        }
    }
}

.cs-image-teaser__slide--scheme-dark:not(.cs-image-teaser__slide--image-uploaded)
    .cs-image-teaser__slide-wrapper {
    background-color: #f5f5f5;
}

.#{$ns}container--review-component {
    .#{$ns}image-teaser {
        --slogan-font-size: 1.4rem;
        --description-font-size: 1.2rem;

        @include media('>=laptop') {
            --slogan-font-size: 1.6rem;
            --description-font-size: 1.4rem;
        }
        .stars {
            align-items: center;
            color: gold;
            display: flex;
            justify-content: center;
        }
        .date {
            font-size: 0.9em;
            padding-top: 0.5em;
        }
        .#{$ns}image-teaser__figure {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

// .cms-index-index .cs-image-teaser__pagination {
//    display: none !important;
// }
