//@import 'vendors/include-media';
@import 'config/colors';
@import 'config/variables';
@import '../../../../theme-creativeshop/src/components/container/container.scss';
@import '../../../../theme-creativeshop/src/components/breadcrumbs/breadcrumbs';

.#{$ns}container {
    $root: &;

    &--navigation {
        background-color: $color_primary-500;
        background-image: $navigation_gradient;
        line-height: 1.5rem;
    }

    &--footer-hours {
        background: $breadcrumbs_background;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.9em;
        text-align: center;
        padding: 1em;
        p {
            margin-bottom: auto;
        }
    }
    &--breadcrumbs {
        @include media('>=laptop') {
            line-height: 1.5rem;
        }
    }
    &--salebar-widget {
        .cs-salebar-widget__content {
            padding: 0.5rem 1rem;
        }
    }
}
