<?php
/** @var $block \MageSuite\ProductPositiveIndicators\Block\ExpectedDelivery\Product */
$isEnabled = $block->isEnabled();
$displayExpectedDeliveryIcon = $block->getShowIcon();
?>

<?php if ($isEnabled): ?>
    <div class="cs-indicator-exp-delivery" id="expected-delivery" data-max-time-today="<?= $block->getMaxTimeToday(); ?>">
        <div class="cs-indicator-exp-delivery__content">
            <div class="cs-indicator-exp-delivery__element">
                <?php if ($displayExpectedDeliveryIcon): ?>
                    <?= $this->getLayout()
                        ->createBlock('MageSuite\ThemeHelpers\Block\Icon')
                        ->setIconUrl('MageSuite_ProductPositiveIndicators::images/fast-delivery.svg')
                        ->setCssClass('cs-indicator-exp-delivery__element-icon')
                        ->setInlined(true)
                        ->setLazyLoaded(true)
                        ->toHtml();
                    ?>
                    <?= $block->getChildHtml('indicator.expected-delivery'); ?>
                <?php endif; ?>
                <span class="cs-indicator-exp-delivery__placeholder"><?= __('You can get this product on ... if you buy it now') ?></span>
                <span class="cs-indicator-exp-delivery__text cs-indicator-exp-delivery__text--same-day">
                    <?= __(
                        'You can get this product on <span class="cs-indicator-exp-delivery__text--date">%2, %1</span> if you buy it now (2PM Eastern Time Cutoff) and choose the UPS Next Day Air shipping method at checkout.',
                        date('F jS', $block->getShipDayTime()),
                        __($block->getShipDayName())
                    ) ?>
                    <a href="<?php echo $escaper->escapeUrl($this->getUrl('express-shipping')); ?>">
                        <?=__('<span class="cs-indicator-exp-delivery__text--helper"> Restrictions and Additional Fees apply.</span>')?>
                    </a>
                </span>
                <span class="cs-indicator-exp-delivery__text cs-indicator-exp-delivery__text--next-day">
                    <?= __(
                        'You can get this product on <span class="cs-indicator-exp-delivery__text--date">%2, %1</span> if you buy now (2PM Eastern Time Cutoff) and choose the UPS Next Day Air shipping method at checkout.',
                        date('F jS', $block->getNextShipDayTime()),
                        __($block->getNextShipDayName())
                    ) ?>
                    <a href="<?php echo $escaper->escapeUrl($this->getUrl('express-shipping')); ?>">
                        <?=__('<span class="cs-indicator-exp-delivery__text--helper"> Restrictions and Additional Fees apply.</span>')?>
                    </a>
                </span>
            </div>
        </div>
    </div>
<?php endif ?>
