@import '../../../../../theme-creativeshop/src/components/header/user-nav/user-nav';

.#{$ns}header-user-nav {
    $root: &;
    &__icon--my-cart {
        transform: scale(-1, 1);
    }
    &__item--wishlist {
        @include media('<=phoneLg') {
            display: none;
        }
    }
}
