@import '../../../../theme-creativeshop/src/components/logo/logo';
@import 'config/variables';
@import 'vendors/include-media';

.#{$ns}logo {
    &__image {
        &--desktop {
            @include media('<=laptopLg') {
                max-width: 80%;
            }
        }
    }
}
