@import '../../../../theme-creativeshop/src/components/daily-deal-teaser/daily-deal-teaser';

.cs-daily-deal-teaser__progress-bar-content {
    height: 12px;
}
.cs-daily-deal-teaser__progress-bar {
    margin: 1.5rem 0.5rem;
}
