@import 'config/colors';
@import '../../../../theme-creativeshop/src/components/navigation/navigation.scss';

$navigation_font-size: 1rem;
$navigation_overlay-show: true;

//GGM Main Nav Color on Hover w/Green Background
$navigation_link-main-color: $color_white;
$navigation_link-main-color-hover: $color_white;

$navigation_lists-mark-parent-on-hover: false;

.#{$ns}navigation {
    $root: &;

    &__item {
        &--main {
            font-size: 1.5em;
            $color: $color_text-800;
            a {
                &:hover {
                    color: $navigation_link-main-color;
                }
            }
        }
        &--all-categories {
            //use category identifier of 'hidden' in admin categories to hide from all category nav
            &[data-category-identifier='hidden'] {
                display: none;
            }
        }
        @if ($navigation_lists-mark-parent-on-hover) {
            &--active,
            &.active,
            &:hover,
            &:active,
            &:visited {
                &:not([data-category-identifier='all-categories']) {
                    > #{$root}__link {
                        color: $navigation_link-main-color-hover;
                    }
                }
            }
        } @else {
            &--main {
                &:hover,
                &.active,
                &:active,
                &:visited,
                &#{$root}__item--active {
                    &:not([data-category-identifier='all-categories']) {
                        > #{$root}__link {
                            color: $navigation_link-main-color-hover;
                        }
                    }
                }
            }
        }
    }

    &__link {
        text-transform: none;
        &--main {
            font-weight: 700;
            position: relative;
            text-decoration: none;
            text-transform: none;
            color: $navigation_link-main-color;
            &:hover {
                &::before {
                    visibility: visible;
                    transform: scaleX(1);
                    color: $navigation_link-main-color-hover;
                }
            }
            &:active,
            &:focus,
            &:visited,
            &:hover {
                color: $navigation_link-main-color !important;
            }

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 3px;
                bottom: 0;
                left: 0;
                background-color: $color_white;
                visibility: hidden;
                transform: scaleX(0);
                transition: all 0.2s ease-in-out 0s;
            }
        }
        &--level_1 {
            padding-bottom: 1.2em;
        }
        &-icon--svg path {
            fill: none;
            &:hover {
                fill: none;
            }
        }
    }
    &__extras {
        background-color: #f5f5f5;
    }
}
