@import '../../../../theme-creativeshop/src/components/checkout/checkout';
@import 'config/colors';

.#{$ns}checkout {
    .shipping-address-item {
        opacity: 0.5;

        &.selected-item {
            opacity: 1;
        }
    }
    &__discounts {
        .step-title {
            color: white !important;
            background: $color_primary-500;
            padding: 1rem 0.5rem !important;
            margin-bottom: 1rem !important;
            align-items: center;
            border-radius: 5px;
        }
    }

    ul.credit-card-types {
        padding-left: 0px;
        li {
            list-style-type: none;
            display: inline-flex;
        }
    }
    .payment-method .payment-method-title .label:nth-child(1n) {
        background-image: none;
    }

    .payment-method-content .amazonpay-button-inner-image {
        max-width: 20rem;
        margin-bottom: 1rem;
    }

    .table-checkout-shipping-method {
        .radio {
            height: 1em !important;
            margin: -0.0625em calc(0.5em + 1px) 0 0 !important;
        }
    }
    &__payments {
        .form-purchase-order {
            height: 0;
            width: 0;
            overflow: hidden;
        }
    }
    span.no-display {
        display: none;
    }
}

.stealthcheckout-index-index .cs-qty-increment__button {
    display: none;
}

#ws_embed_sms_notification {
    .control-subs {
        .sms-subs {
            border-radius: 3px;
            outline-offset: 1px;
            text-decoration: none;
            box-shadow: none;
            border: 1px solid #276834;
            color: #276834;
            background-color: #fff;
            box-sizing: border-box;
            transition: background-color 0.5s, border-color 0.5s, fill 0.5s,
                color 0.5s;
            vertical-align: middle;
            z-index: 5;
            margin: 1rem 0 0;
            padding: 1rem 4rem;
            font-size: 1.5rem;
            font-weight: 800;

            &:hover {
                box-shadow: none;
                outline: none;
                text-decoration: none;
                border: 1px solid #8cc540;
                color: #fff;
                background-color: #8cc540;
            }
        }
    }
}

.checkout-onepage-success {
    .modal-header {
        background: $color_green-pea;
        .modal-title {
            color: white;
        }
    }
    .modal-slide .action-close {
        background-color: white;
        border-radius: 5px;
    }
}
