@import '../../../../theme-creativeshop/src/components/product-details/product-details';

//ggm start
div.product-info-stock-sku {
    padding: 1rem 1rem 1rem 0.3rem;
    background-color: #f5f5f5;
    margin-bottom: 1rem;
    strong.type {
        user-select: none;
        &:after {
            content: ':  ';
        }
    }
    div.value {
        display: inline-block;
    }
}

.cs-page-category .category-image {
    display: none;
}

div.product.attribute.overview {
    display: none;
}
