@import '../../../../theme-creativeshop/src/pages/product/product.scss';
@import 'config/variables';
@import 'vendors/include-media';
@import 'components/badge/mixin';
@import 'utils/reset-list-style';

$pdp-round-badge-size: 4.5rem;
$pdp-round-badge-smaller: 4rem;

.#{$ns}page-product {
    $root: &;

    &__badges {
        flex-direction: column;
        width: 12%;
        &-left {
            flex-direction: column;
            position: absolute;
            left: 0;
            top: 0;
            width: 88%;
            display: flex;
            margin: 0;
            padding: 0;
        }
    }

    &__badge-item {
        justify-content: center;
        margin: 0 0 0.5rem 0;
    }

    &__badge {
        @include badge();

        &--new {
            @include badge_type('new');
            width: $pdp-round-badge-smaller;
            height: $pdp-round-badge-smaller;
            min-width: $pdp-round-badge-smaller;
            border-radius: 50%;
            margin: 0 0 0 0.1rem;

            #{$root}__badge-text {
                @include badge_span('new');
                font-size: 1.2rem;
            }
        }

        &--discount {
            @include badge_type('discount');
            width: $pdp-round-badge-size;
            height: $pdp-round-badge-size;
            min-width: $pdp-round-badge-size;

            #{$root}__badge-text {
                @include badge_span('discount');
                font-size: 1.5rem;
            }
        }
        &-discount-value {
            margin-left: -0.3rem;
            margin-right: -0.3rem;
        }

        &--popular {
            @include badge_type('popular');

            #{$root}__badge-text {
                @include badge_span('popular');
                font-size: 1.3rem;
            }
        }

        &--free-shipping {
            @include badge_type('free-shipping');

            #{$root}__badge-text {
                @include badge_span('free-shipping');
                font-size: 1.3rem;
            }
        }

        &--dailydeal-pdp {
            @include badge_type('dailydeal-pdp');
            background: url('../images/dank-deals-pdp.png');
            min-width: 112px;
            min-height: 94px;
            margin-top: -0.5rem;

            #{$root}__badge-text {
                @include badge_span('dailydeal-pdp');
                font-size: 1.4rem;
            }
        }
    }

    &__badge-text {
        @include badge_span();
    }
}

ul.cs-page-product__badges-left > li.cs-page-product__badge-item {
    justify-content: flex-start !important;
    margin: 0 0 0.5rem 0;
}

.page-product-configurable {
    .cs-page-product__badge--discount {
        width: 5.5rem;
        height: 5.5rem;
    }
    .cs-page-product__badge--discount .cs-page-product__badge-text {
        margin: 0rem 0.4rem;
    }
}
