@import '../../../../theme-creativeshop/src/components/dailydeal/dailydeal';
@import 'config/colors';
@import 'config/variables';
@import 'vendors/include-media';

.#{$ns}dailydeal {
    $root: &;
    &__countdown {
        &-element {
            background: $color_gallery;
            transform: none;
            margin: 0 4px;
            @include media('<=phoneLg') {
                margin: 0 1px;
                &:last-child:not(:only-child) {
                    margin-left: 0px;
                }
            }
            &--special {
                display: none;
            }
        }
        &-value {
            color: $color_crimson;
            font-size: 2.2rem;
            padding: 5px 0 0;
        }
        &-label {
            color: darkgray;
            font-size: 1.2rem;
        }
    }
    &__progressBar {
        font-size: 1.1rem;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 97%;
        background-color: #f0f0f0;
        margin: 0 auto;
        border-radius: 0 0 5px 5px;
        border-top: 1px solid $color_white;
        color: $color_dk_grey;
        .miniBar {
            height: 1rem;
            border: 1px solid $color_primary-500;
            position: relative;
            width: -webkit-calc(100% - 0.5rem);
            width: -moz-calc(100% - 0.5rem);
            width: calc(100% - 0.5rem);
            margin-right: 0.5rem;
            .miniBarProgress {
                background-color: $color_primary-500;
                height: 100%;
                position: absolute;
                top: 0rem;
                left: 0rem;
            }
        }
    }
}

.cs-buybox__daily-deal {
    .cs-dailydeal__progressBar {
        display: none;
    }
}

.cs-product-tile__dailydeal--grid {
    .#{$ns}dailydeal {
        $root: &;
        &__countdown-element {
            transform: none;
            background: $color_gallery;
            margin: 0 4px;
            @include media('<=phoneLg') {
                margin: 0 1px;
            }
            &--special {
                display: none;
            }
        }
        &__countdown-value {
            color: $color_crimson;
            padding: 2px 0 0;
            font-size: 1.5rem;
        }
        &__countdown-label {
            color: $color_gray;
            font-size: 1.1rem;
        }
        &__availability {
            display: none;
        }
    }
}

.cs-dailydeal--tile
    .cs-dailydeal__countdown-element:last-child:not(:only-child) {
    @include media('<=phoneLg') {
        margin-left: 0px;
    }
}
