@import '../../../../../theme-creativeshop/src/components/cart/cart-summary/cart-summary.scss';
@import 'config/colors';
@import '../../../../../theme-creativeshop/src/components/pseudoicon/mixin.scss';
@import 'utils/visually-hidden';

$footer_section-pseudoicon-include: true !default;

// Add shipping estimation from cart summary
.#{$ns}cart-summary {
    $root: &;

    #block-shipping {
        display: block;
        border-bottom: 1px solid $color_gray;
        padding-bottom: 1rem;
        .title {
            cursor: pointer;

            @if $footer_section-pseudoicon-include {
                @include pseudoicon();
            }
            #{$root}__section--socials & {
                @include visually-hidden();
            }
        }
    }

    .estimate {
        border: 1px solid #dcdcdc;
    }

    #co-shipping-method-form {
        .item-options .field.item label.label {
            top: 1px;
        }
        .rate {
            border: 1px solid #dcdcdc;
            border-top: none;
        }
    }
}
