<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:ignoreFile
?>
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title><?= $this->pageTitle ?></title>
    <base href="<?= $this->escaper->escapeHtmlAttr($this->getViewFileUrl()) ?>" />

    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="theme-color" content="#c20000">
    <meta name="msapplication-navbutton-color" content="#c20000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#c20000">
    <meta charset="utf-8">
    <meta name="robots" content="*"/>

    <style type="text/css">
        @import url('https://fonts.googleapis.com/css?family=Lato:400,700');
        html {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            font-family: 'Lato', sans-serif;
            font-size: 1.2vw;
            color: #212121;
        }

        @media (max-width: 1280px) {
            html {
                font-size: 14px;
            }
        }

        *,
        *:before,
        *:after {
            -webkit-box-sizing: inherit;
            box-sizing: inherit;
        }

        body {
            background-color: #FFFFFF;
            margin: 0;
            height: 100vh;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            overflow: hidden
        }

        .error-page {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .error-page__svg-wrapper {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: end;
            -ms-flex-align: end;
            align-items: flex-end;
            overflow: hidden;
            width: 100%;
        }

        .error-page__cable-img {
            max-height: 300px;
            width: 500px;
            -webkit-box-flex: 0;
            -ms-flex-positive: 0;
            flex-grow: 0;
            margin: 0 -5px;
            fill: #212121;
        }

        @media (max-width: 500px) {
            .error-page__cable-img {
                margin: 0 -5rem;
            }
        }


        .error-page__cable-line {
            background-color: #212121;
            height: 4px;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
        }

        .error-page__header {
            margin-top: 3rem;
            text-align: center;
            position: relative;
            padding: 0 20px;
        }

        .error-page__message {
            text-transform: uppercase;
            font-size: 2rem;
            margin-top: 0;
        }

        .error-page__text {
            font-size: 1.3rem;
        }

        .error-page__text--muted {
            opacity: 0.6;
            font-size: 0.8rem;
        }
    </style>
</head>
<body>

<div class="cs-salebar-widget cs-salebar-widget--loaded"> <a class="cs-salebar-widget__content cs-salebar-widget__content--clickable" style="background-color: #e05902;color: #FFFFFF;display: block;padding: 10px;font-size: 1.3rem;line-height:1.4em;text-align: center;text-decoration: none;">  <span class="cs-salebar-widget__text">We'll be down for a few minutes of maintenance. Please come back in a few mintues to continue shopping.  Keep Blazing and Stay Amazing!
</span>  </a> </div>
<div class="error-page">
    <div class="error-page__svg-wrapper">
        <div class="error-page__cable-line"></div>
            <img src="images/ServerGarden.jpeg" width="100%"/>
        <div class="error-page__cable-line"></div>
    </div>

    <div id="error-details" style="display: none;">
        <div style="color: #C11115; text-align: center; font-size: 1.2em; margin: 1rem 0;"><?= __('Error reference') ?><br/><strong><?= $this->reportId ?></strong></div>
        <?php if(isset($this->reportData[0])): ?>
        <br/>
        <pre><?= htmlspecialchars($this->reportData[0]) ?></pre>
        <?php endif; ?>
    </div>
    <script>
        (function show_error() {
            document.onkeydown = function(evt) {
                var key = (window.event) ? evt.keyCode : evt.which;
                /* Capture key "e" */
                if (key === 69) {
                    document.getElementById('error-details').style.display = 'block';
                }
            }
        })();
    </script>
</div>
</body>
</html>
