// Color definitions extracted from project designs with names generated using
// Name that color.
// @see http://chir.ag/projects/name-that-color/

@import '../../../theme-creativeshop/src/config/colors';

// ggm primary color
$color_sushi: #8cc540;
$color_green-pea: #276834;

// ggm secondary
$color_chocolate: #df7006;
$color_blaze_orange: #f96302;
$color_malta: #bbafa0;
$color_bamboo: #d75f07;

// ggm secondary color
$color_gold: #fed400;
$color_kournikova: #ffea7f;
$color_yellow: #fff200;

//ggm error
$color_crimson: #cc3333;
$color_thunderbird: #cc1c10;
$color_alizaron_crimson: #e71c24;

//ggm success
$color_apple: #37b841;
$color_apple-dark: #31a43a;
//$color_green-pea: #1e6b24;

$color_dk_blue: #0f2e4f;
$color_dk_grey: #333;
$color_snow: #fcfbf7;
$color_purple-dk: #6402ed;
$color_purple-lt: #832cff;
$color_dodger-blue: #28a5dd;
