//@import 'config/breakpoints';
@import 'config/colors';
@import '../theme-creativeshop/src/config/variables.scss';
@import 'vendors/include-media';

$color_primary-800: $color_sushi;
$color_primary-500: $color_green-pea;

//page layout
$homepage-main-column_padding-mobile: 0;
$homepage-main-column_padding: 3rem 0 0;
$main-column_padding-mobile: 2rem 0 0;
$main-column_padding: 3rem 0 0;

//naviagation gradient
$navigation_gradient: linear-gradient(to top, $color_primary-500, #68a239);
$navigation_gradient_orange: linear-gradient(
    to top,
    $color_chocolate,
    $color_blaze_orange
);
//topography
$link-color_base-hover: $color_primary-500;

//image-teaser.scss variables
$image-teaser_hero-carousel_slide-width: 95%; //ggm style.

//from header.scss
$header-search-width-as-layer: 80%;

//from button/mixin.scss
$button_primary-background: darken($color_blaze_orange, 3%);
$button_primary--hover-background: $color_blaze_orange;

// Style for `link` button type to use for cta links in components
$image-teaser_cta-button-type: 'secondary';
$image-teaser_cta-button-type--dark: 'secondary';
$scheme--dark_background: #f5f5f5;
// $button_link-enable-animation: true;
$button_link-color: $color_dk_blue;
$button_link--hover-color: lighten($color_dk_blue, 5%);
// $button_link-icon-padding: 2.5rem;

//from badge/mixin.scss
$badge--free-shipping-background: $color_success-500;
$badge--popular-background: $color_success-500;

//$badge--free-shipping-background: $color_primary-800 !default;
//$badge--popular-background: $color_primary-500 !default;

//checkout
$checkout_next-button-outside: true;

//from autocomplete/autocomplete.scss
$autocomplete_item-font-weight: 300;

//from dashboard/dashboard.scsss
$dashboard_has-darker-background: true;

//from sidebar-widget
$salebar-font-size_medium: 1.5rem;
$fixed-on-mobile: false;

//from dailydeals.scss
$dailydeal--tile-availability-apply-skews-mixin: false; // set false to remove all freaky creativeshop's styling
$dailydeal_countdown-element-apply-skews-mixin: false;
$dailydeal--tile-availability-apply-skews-mixin: false; // set false to remove all freaky creativeshop's styling

// Because there isn't enough space for display full counter on mobile (depends on desing), we can display counter in lighter version (only on tile)
// Set `false` to ignore lighter version
$dailydeal_full-counter-lighter-version-breakpoint: false;

//pdp
$buybox_font-size: 1.3rem;
$buybox_price-special-price-color: $color_blaze_orange;
$buybox_price-special-price-font-size: 3.5rem !default;

$buybox_price-normal-price-color: $color_mineshaft;
$buybox_price-normal-price-font-size: 2.5rem;
$buybox_addto-icon--wishlist-fill: $color_primary-800;

//footer
$footer_section-title-color: $color_white;
$footer_section-title-font-size: 1.3em;

//product-tile.scss

//$product-tile_general-font-size: 1.3rem;
$product-tile-grid_hover-animation: true;
$price-box_special-price-color: $color_blaze_orange;
$product-tile_normal-price-color: $color_mineshaft;
$product-tile_product-name-link-color-hover: $color_primary-500;

//$product-tile_product-name-font-size: $product-tile_general-font-size !default;
//$product-tile_product-name-max-lines-display: 3;
//$product-tile_product-name-line-height: 1.5rem; // MUST BE a number value with unit, cannot be 'inherit'
//$product-tile_product-name-font-weight: 500;

//from teaser/mixins/paginations.scss
$teaser_pagination-item-margin: 0.5rem !default;
$teaser_pagination-item-border-radius: 50%;
$teaser_pagination-item-background: $color_gallery !default;
$teaser_pagination-item-width: 1rem;
$teaser_pagination-item-height: 1rem;
$teaser_pagination-item-transform: none;
$teaser_pagination-item-border: none !default;
$teaser_pagination-item-transition: all 0.15s !default;
$teaser_pagination-item--active-background: $color_primary-500;

//from pages/product/product.scss
$page--flex-direction: column;

//minicart.scss
$minicart__close-color-hover: $color_white;

//social-media-link.scss
$social-media-list_link-background: $color_white;

//pagination bullet
$slider-pagination_bullet-border: 1px solid darken($color_background-500, 5%);
$slider-pagination_bullet-radius: 50%;
$slider-pagination_bullet-bg: $color_background-500 !default;
$slider-pagination_bullet-bg--current: $color_primary-500 !default;
$slider-pagination_bullet-width: 1.5rem;
$slider-pagination_bullet-height: 1.5rem;
@include media('<laptop') {
    $slider-pagination_bullet-width: 1rem;
    $slider-pagination_bullet-height: 1rem;
}
