@import '../../../../theme-creativeshop/src/components/product-tile/product-tile';
@import 'config/colors';
@import 'config/variables';

.#{$ns}product-tile {
    $root: &;
    &__main {
        grid-template-areas:
            'badges badges-right'
            'swatches swatches'
            'brand brand'
            'name name'
            'description description'
            'price price'
            'review  addtocart'
            'stock addtocart'
            'wishlist-icons wishlist-icons';
    }
    &__badge {
        &--discount {
            grid-area: badges-right;
            width: auto;
            position: absolute;
            top: 1em;
            right: 1em;
            @include badge_type('discount');

            #{$root}__badge-text {
                @include badge_span('discount');
                letter-spacing: -1px;
            }
        }
    }
    &__addto {
        grid-area: addto;
        position: inherit;
        display: none;
    }
    &__name {
        line-height: 1.5rem;
        font-size: 1.4rem;
        white-space: inherit;
        height: 4.6rem;
    }

    &__brand {
        text-align: center;
    }
    &__thumbnail {
        min-height: 67%;
    }
    &__swatches {
        display: none;
    }

    &__stock {
        background-repeat: no-repeat;
        width: 1.5rem;
        padding-left: 2.3rem;
        height: 1.5rem;
        font-size: 1.3rem;
        line-height: 1.6rem;
        overflow: hidden;
        #{$root}:hover & {
            overflow: visible;
        }

        &--in {
            color: $product-tile_stock-in-color;
            background-image: url('../images/icons/stock/in-stock.svg');
            padding-bottom: 2.5rem;
        }

        &--out {
            color: $product-tile_stock-out-of-color;
            background-image: url('../images/icons/stock/out-of-stock.svg');
            height: 3rem;
            margin-top: 1rem;
        }
    }

    .cs-product-tile__stock--in-backordered {
        visibility: hidden;
    }
}
