@import '../../../../theme-creativeshop/src/components/social-media-list/social-media-list.scss';
@import 'config/variables';
@import 'vendors/include-media';
@import 'utils/reset-list-style';

.#{$ns}social-media-list {
    $root: &;

    &__icon {
        @if $social-media-list_icon-position == absolute {
            top: 52%;
            left: 52%;
        }
        #{$root}__item--ig & {
            width: 3rem;
            height: 3rem;
        }
    }
}
