@import '../../../../theme-creativeshop/src/components/page-bottom/page-bottom.scss';
@import 'config/colors';

.#{$ns}page-bottom {
    $root: &;

    &__image {
        &--trust {
            height: 50px;
        }
    }
    &__group {
        &--info {
            @include media('>=laptop') {
                flex-basis: 10%;
            }
        }
        &--shipping {
            @include media('>=laptop') {
                flex-basis: 20%;
            }
        }
        &--payment {
            flex-basis: 60%;
        }
    }
    &__logo {
        &--fedex {
            height: 5rem;
        }
        &--usps {
            height: 7rem;
        }
        &--ups {
            height: 3rem;
        }

        &--dhl {
            height: auto;
            max-height: 2rem;
            min-width: 8.6rem;
            padding-left: 10px;
        }

        &--paypal {
            width: 6.2rem;
        }

        &--visa {
            height: auto;
            max-height: 2rem;
            min-width: 5.5rem;
        }
        &--anet {
            height: auto;
            max-height: 7rem;
        }
        &--amazonpay {
            height: auto;
            max-height: 7rem;
        }
        &--mastercard {
            width: 3.3rem;
        }
        &--amex {
            min-height: 4rem;
        }

        &--klarna-sofort {
            height: auto;
            max-height: 2.5rem;
            min-height: 2.5rem;
        }

        &--klarna {
            width: 7rem;
        }

        &--gls {
            width: 5rem;
        }

        &--giropay {
            width: 4.8rem;
        }

        &--ec {
            width: 1.8rem;
        }

        &--paydirekt {
            width: 6rem;
        }

        &--lastschrift {
            width: 6.15rem;
        }

        &--vorkasse {
            width: 8.3rem;
        }

        &--rechnung {
            width: 6.15rem;
        }

        & + & {
            margin-left: 0.5rem;
        }
    }
}
.cs-footer {
    background: $color_dk_grey;
}
