@import '../../../../theme-creativeshop/src/components/buybox/buybox';
@import 'config/colors';
@import 'config/variables';

.#{$ns}buybox {
    &__section {
        &--product-form {
            .product.alert.stock {
                margin: 2em 0;
                a {
                    padding: 1.1rem 2rem;
                    background-color: darken($color_blaze_orange, 3%);
                    color: $color_white;
                    font-size: 1.1em;
                    margin-bottom: 3.4rem;
                    border-radius: 5px;

                    &:hover {
                        background-color: $color_blaze_orange;
                    }
                }
            }
        }
        &--extras {
            .product-reward-points-earning {
                background-image: $navigation_gradient;
                padding: 1rem 0.5rem;
                color: $color_white;
                text-align: center;
                border-radius: 5px;
                font-size: 1.1em;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 1em auto;
                font-weight: 700;
                p {
                    margin: 0;
                }
            }
            .product-reward-points-discount {
                border: 1px solid #696969;
                padding: 1rem 0.5rem;
                text-align: center;
                border-radius: 5px;
                margin-bottom: 1em;
            }
        }
    }
    & .special-order {
        border-radius: 3px;
        padding: 0.5em;
        border: 1px solid $color_blaze_orange;
        margin-bottom: 0.5em;
        text-align: center;
    }

    & .freight-pickup {
        color: $color_apple;
        background-color: #f0f0f0;
        display: flex;
        align-items: center;
        border-radius: 3px;
        height: 2.7em;
        span {
            background-image: url('../images/icons/fast-delivery.svg');
            background-repeat: no-repeat;
            background-size: 3rem;
            line-height: 2.4rem;
            font-weight: bold;
            padding-left: 4rem;
            font-size: 1.1em;
        }
    }

    &__brand__top {
        padding-top: 0px;
        img {
            max-height: 5em;
            transition: opacity 0.3s;
            -webkit-transition: opacity 0.3s;
            opacity: 0.5;
            padding: 0 0 10px 0;
            &:hover {
                opacity: 1;
            }
        }
    }
}
