@import '../../../../theme-creativeshop/src/components/header/header.scss';

.#{$ns}header {
    $root: &;

    &__logo {
        //height: auto;
        padding: 0.7rem 0 0.7rem 0.7rem;

        @include media('<=phoneLg') {
            //height: inherit;
        }
    }
    &__search--active {
        display: none; //Needed to hide search for Doofinder to take over
    }
    //reset static block bottom margin ggm
    // .block-static-block.widget {
    //     margin-bottom: 0px;
    // }
}
