@import 'config/variables';
@import 'vendors/include-media';
@import 'components/header/user-nav/user-nav';

@import '../../../../theme-creativeshop/src/components/offcanvas-toggle/offcanvas-toggle.scss';

.cs-offcanvas-toggle {
    $root: &;

    @if ($global_header-mobile-search-in-offcanvas) {
        &__menu-search-icon {
            path {
                fill: $header-user-nav_icon-color;
            }
        }
    }
}
