@import '../../../../../theme-creativeshop/src/components/header/search/search.scss';

$header-search_autocomplete-background: $color_background-500;

.#{$ns}header-search {
    $root: &;

    &__autocomplete {
        width: calc(130% - 1rem);

        @include media('<tablet') {
            width: calc(100% - 1rem);
            overflow-y: scroll;
        }
    }
    &__button,
    &:visited {
        background-color: $color_green-pea;
    }

    &__button {
        &:hover:not([disabled]),
        &:active:not([disabled]),
        &:focus:not([disabled]) {
            background-color: lighten($color_green-pea, 5%);
        }
    }
    &__active {
        display: none; //Needed to hide search for Doofinder to take over
    }
}

// .cs-header-search__button,
// .cs-header-search__button:visited {
//     background-color: $color_green-pea;
// }

// .cs-header-search__button:hover,
// .cs-header-search__button:active,
// .cs-header-search__button:focus {
//     background-color: lighten($color_green-pea, 5%);
// }
