@import '../../../../theme-creativeshop/src/components/footer/footer';
@import 'config/colors';
@import 'config/variables';

.cs-footer__section--collapsible .cs-footer__section-title:after {
    background-color: $color_white;
}
.cs-footer__section--collapsible .cs-footer__section-title:before {
    background-color: $color_white;
}
