<dd class="product-item <%- data.row_class %> cs-autocomplete__item" id="qs-option-<%- data.index %>" role="option" href="<%- data.url %>">
    <div class="product-image-box cs-autocomplete__item-image-container">
        <img class="cs-autocomplete__item-image" src="<%- data.image %>">
    </div>
    <div class="product-shop product-item cs-autocomplete__item-details">
        <div class="f-fix">
            <div class="product-primary">
                <% if(data.brand) { %>
                <div class="product-name cs-autocomplete__item-brand"><%- data.brand %></div>
                <% } %>
                <div class="product-name cs-autocomplete__item-name"><span><%- data.sku %></span> | <%- data.title %></div>
            </div>
            <div class="product-secondary cs-autocomplete__item-price">
                <div class="price-box">
                    <span class="regular-price"><span class="price"><%= data.price %></span></span>
                </div>
            </div>
        </div>
    </div>
    <% if(data.popular_icon || data.free_shipping) { %>
        <div class="product-badges cs-autocomplete__badges">
            <% if(data.popular_icon) { %>
                <span class="cs-autocomplete__badge cs-autocomplete__badge--popular"><span class="cs-autocomplete__badge-text"><%- data.popular_icon %></span></span>
            <% } %>
            <% if(data.free_shipping) { %>
                <span class="cs-autocomplete__badge cs-autocomplete__badge--free-shipping"><span class="cs-autocomplete__badge-text"><%- data.free_shipping %></span></span>
            <% } %>
        </div>
    <% } %>
</dd>

