@import '../../../../theme-creativeshop/src/components/headline/headline';

.#{$ns}headline {
    &__title {
        div {
            padding: 0.5rem 1rem;
            border-radius: 5px;
            text-transform: initial;
            background-color: #f5f5f5;
            margin-top: 0.25rem;

            &.green {
                color: $color_white;
                background: $navigation_gradient;
                em {
                    color: $color_malta;
                    font-style: normal;
                    font-weight: 700;
                }
            }
            &.gray {
                background: #f5f5f5;
                color: #333;
                em {
                    color: $color_primary-500;
                    font-style: normal;
                    font-weight: 700;
                }
            }
            &.orange {
                color: $color_white;
                em {
                    color: #3c2a15;
                    font-style: normal;
                    font-weight: 700;
                }
            }
            &.purple {
                background: $color_purple-dk;
                color: $color_white;
                em {
                    color: $color_primary-800;
                    font-style: normal;
                    font-weight: 700;
                }
            }
            a:link,
            a:active,
            a:visited,
            a:hover,
            a:focus {
                color: inherit;
            }
        }
    }
    &__subtitle {
        text-transform: initial;
        color: #333;
        a:link,
        a:visited {
            color: #333;
        }
        a:active,
        a:hover,
        a:focus {
            color: $color_primary-500;
        }
    }
}
