@import '../../../../theme-creativeshop/src/components/minicart/minicart.scss';
@import 'config/colors';
@import 'config/variables';

.#{$ns}minicart {
    $root: &;
    &__title-wrapper {
        @if $minicart-offcanvas {
            color: $color_white;
            background: $navigation_gradient;
        }
    }
    &__close-icon {
        &:before,
        &:after {
            background-color: $color_white;
        }
    }
}
